.wrapper {
    width: calc(100% - 40px);
    margin-left:auto;
    margin-right:auto;
    margin-top: 20px;
  }
  
  .inner {
    width: 100%;
  }
  
  .main {
    width: 100%;
    margin-left:auto;
    margin-right:auto;
    height: 50px;
    line-height: 50px;
  }
  
  .mainInput {
    width: 200px;
    height: inherit;
    line-height: inherit;
    padding-left: 10px;
    padding-right: 10px;
    display: block;
    float: left;
    box-sizing: border-box;
    width: calc(100% - 80px);
    border: none;
    border-bottom: 1px solid rgb(79, 44, 250);
    font-size: 20px;
  }
  
  .mainButton {
    float: right;
    text-align: center;
    background-color: rgb(79, 44, 250);
    color: white;
    border-radius: 4px;
    height: 38px;
    line-height: 38px;
    margin-top: 6px;
    width: 60px;
    color: rgb(79, 44, 250);
    border: 1px solid rgb(79, 44, 250);
    background-color: white;
  }
  
  .list { 
    width: 100%;
    margin-top: 30px;
  }
  
  .listItem {
    height: 40px;
    margin-bottom: 20px;
  }
  
  .listInput {
    height: 40px;
    line-height: 40px;
    box-sizing: border-box;
    float: left;
    width: calc(100% - 100px);
    font-size: 18px;
    border: 2px dotted transparent;
  }
  
  .listInputModify{
    border-bottom-color: rgb(79, 44, 250);;
  }
  
  .listButton {
    float: left;
    height: 40px;
    width: 80px;
  }
  
  .modify {
    width: 40px;
    height: 40px;
    line-height: 40px;
    float: left;
    text-align: center;
  }
  
  .delete {
    width: 40px;
    height: 40px;
    line-height: 40px;
    float: right;
    text-align: center;
  }
  
  @media (min-width: 700px) {
    .wrapper{
      width: 700px;
    }
  }