.TheTitleWrapper {
    width: 100%;
    height: 200px;
    background-color: rgb(79, 44, 250);
    overflow: hidden;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -ms-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

@media (min-width: 700px) {
  .TheTitleWrapper{
    height: 300px;
  }
}